<h1><%= name %></h1>
<section>
	<h2><%= emoji "baby" %> Bio</h2>
</section>
<section>
	<h2><%= emoji "vhs" %> Videos</h2>
</section>
<section>
	<h2><%= emoji "foggy" %> Pictures</h2>
</section>
<section>
	<h2><%= emoji "books" %> Books</h2>
</section>
<section>
	<h2><%= emoji "link" %> Articles</h2>
</section>
<section>
	<h2><%= emoji "weary" %> Failures</h2>
</section>
<section>
	<h2><%= emoji "raised_hands" %> Successes</h2>
</section>
<section>
	<h2><%= emoji "mega" %> Social Media</h2>
</section>
<section>
	<h2><%= emoji "100" %> Quotes</h2>
</section>
