<div class="row text-center">
	<div class="col-md-10 offset-md-1">
		<div class="card card-inverse">
			<div class="card-block">
				<div class="text-white">
					<h1 class="display-2">SeekFailure.com</h1>
					<p class="lead">
						We've been taught that the "f" word is really bad; that we should do
						whatever we can to not fail. Here's a secret only between us that
						may blow your mind: in order to succeed in any endeavor, you must
						stumble first. Instead of irrationally running away, seek failure
						instead.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card-columns mt-3">
	<div class="card card-inverse mb-3 view-profile" data-profile="elon-musk">
		<%= image_tag("elon-musk.jpg", alt: "Elon Musk", title: "Elon Musk", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Elon Musk</h4>
	    <p class="card-text">
				"Failure is an option. If things are not failing, you are not innovating
				enough."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("giorgio-armani.jpg", alt: "Giorgio Armani", title: "Giorgio Armani", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Giorgio Armani</h4>
	    <p class="card-text">
				"And no matter how many 'no's showed up in my darkest hours, I still
				knew my 'yes' was meant to shine. It has lit my way ever since."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("charles-darwin.jpg", alt: "Charles Darwin", title: "Charles Darwin", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Charles Darwin</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("michael-jordan.jpg", alt: "Michael Jordan", title: "Michael Jordan", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Michael Jordan</h4>
	    <p class="card-text">
				"I have missed more than 9,000 shots in my career. I have lost almost
				300 games. On 26 occasions I have been entrusted to take the game
				winning shot, and I missed. I have failed over and over and over again
				in my life. And that is why I succeed."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("jk-rowling.jpg", alt: "J.K. Rowling", title: "J.K. Rowling", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">J.K. Rowling</h4>
	    <p class="card-text">
				"It is impossible to live without failing at something, unless you live
				so cautiously that you might as well not have lived at all – in which
				case, you fail by default."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("harland-sanders.jpg", alt: "Harland Sanders", title: "Harland Sanders", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Harland Sanders</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("jay-z.jpg", alt: "Jay Z", title: "Jay Z", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Shawn Carter</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("oprah-winfrey.jpg", alt: "Oprah Winfrey", title: "Oprah Winfrey", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Oprah Winfrey</h4>
	    <p class="card-text">
				"There is no such thing as failure. Failure is just life trying to move
				us in another direction."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("lady-gaga.jpg", alt: "Lady Gaga", title: "Lady Gaga", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Stefani Germanotta</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("lucille-ball.jpg", alt: "Lucille Ball", title: "Lucille Ball", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Lucille Ball</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("harrison-ford.jpg", alt: "Harrison Ford", title: "Harrison Ford", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Harrison Ford</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("soichiro-hondas.jpg", alt: "Soichiro Hondas", title: "Soichiro Hondas", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Soichiro Hondas</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("theodor-seuss-geisel.jpg", alt: "Theodor Suess Geisel", title: "Theodor Suess Geisel", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Theodor Suess Geisel</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("vera-wang.jpg", alt: "Vera Wang", title: "Vera Wang", class: "card-img-top img-fluid") %>
	  <div class="card-block">
			<h4 class="card-title">Vera Wang</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("walt-disney.jpg", alt: "Walt Disney", title: "Walt Disney", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Walt Disney</h4>
	    <p class="card-text">
				"I think it’s important to have a good hard failure when you’re young…
				Because it makes you kind of aware of what can happen to you. Because of
				it I’ve never had any fear in my whole life when we’ve been near
				collapse and all of that. I’ve never been afraid."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("rowland-macy.jpg", alt: "Rowland Macy", title: "Rowland Macy", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Rowland Macy</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("steven-spielberg.jpg", alt: "Steven Spielberg", title: "Steven Spielberg", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Steven Spielberg</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("vincent-van-gogh.jpg", alt: "Vincent Van Gogh", title: "Vincent Van Gogh", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Vincent Van Gogh</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("sidney-poitier.jpg", alt: "Sir Isaac Newton", title: "Sir Isaac Newton", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Sir Isaac Newton</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("stephen-king.jpg", alt: "Stephen King", title: "Stephen King", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Stephen King</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
	<div class="card card-inverse mb-3">
		<%= image_tag("kendra-scott.jpg", alt: "Kendra Scott", title: "Kendra Scott", class: "card-img-top img-fluid") %>
		<div class="card-block">
			<h4 class="card-title">Kendra Scott</h4>
	    <p class="card-text">
				"One of my many famous quotes..."
			</p>
	  </div>
	</div>
</div>
